<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS | <%= @page_title %></title>
  </head>

  <body>
    <% if !flash[:notice].blank? %>
    <div>
      <%= flash[:notice]%>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
